*{
    padding: 0;
    margin: 0;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.Port{
    display: flex;
    margin-top: 8vh;
    width: 88vw;
    height: 82vh; 
    flex-direction: row;
}


.Port-item{
    width: 50%;
    height: 100%;
}

.content{
    display: flex;
    width: 55%;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.15); 
    box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.15);
    border-radius: 5px;
}

.content:hover{
    -webkit-box-shadow: 0px 0px 50px 8px rgba(49, 24, 213, 0.25); 
    box-shadow: 0px 0px 50px 8px rgba(49, 24, 213, 0.25); 
    transition: .3s;
}

.content h1{
    margin-top: 37%;
    margin-left: 11%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 56px;
}

.space{
    width: 5%;
    height: 100%;
    border: none;
}

.info{
    display: flex;
    width: 40%;
    flex-direction: column;
}

.profile{
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
}

.contact{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
    -webkit-box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.15); 
    box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 4%;
}


.contact-info{
    display: flex;
    flex-direction: column;
}

.contact-link{
    display: flex;
    flex-direction: row;
}

.contact-info{
    margin-bottom: 10px;
}

.contact-info a{
    width: 25%;
    text-decoration: none;
}

.contact-link p{
    margin-top: 8px;
    margin-left: 15px;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    color: gray;
}

.icon{
    height: 50px;
    width: 50px;
}

.selected{
    color: black;
    width: 23%;
    height: 2px;
    background-color: gray;
    margin-bottom: 5px;

}

.message{
    margin-bottom: 20px;
    font-size: larger;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    padding-bottom: 5px;
}

.name{
    width: 60%;
}
.name h1{
    padding-bottom: 5px;
    font-size: 48px;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name h2{
    padding-bottom: 5px;
    font-size: 36px;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name img{
    width: 23px;
    height: 23px;
}

.image{
    width: 250px;
    height: 250px;
}

.image img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
}
