*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Port{
    display: flex;
    margin-top: 8vh;
    width: 88vw;
    height: 82vh; 
    flex-direction: row;
}

.Port-item{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.content{
    display: flex;
    width: 60%;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.15); 
    box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.15);
    border-radius: 5px;
}

.content h1{
    padding-bottom: 5px;
    font-size: 48px;
    font-weight: 100;
}


.content:hover{
    -webkit-box-shadow: 0px 0px 50px 8px rgba(12, 162, 216, 0.255); 
    box-shadow: 0px 0px 50px 8px rgba(12, 162, 216, 0.255); 
    transition: .5s !important;
}

.space{
    width: 5%;
    height: 100%;
    border: none;
}

.profile{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.info{
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
    -webkit-box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.15); 
    box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.15);
    border-radius: 5px;
}
.info:hover{
    -webkit-box-shadow: 0px 0px 50px 8px rgba(236, 47, 13, 0.255); 
    box-shadow: 0px 0px 50px 8px rgba(236, 47, 13, 0.255);  
    transition: .5s !important;
}


.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
    overflow: hidden;
}

.name h1{
    padding-bottom: 5px;
    font-size: 48px;
    font-weight: 100;
}

.name h2{
    padding-bottom: 5px;
    font-size: 36px;
    font-weight: 100;
}

.name img{
    width: 26px;
    height: 26px;
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40%;
}

.image img{
    width: 70%;
    height: 75%;
    border-radius: 100%;
    object-fit: cover;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    height: 95%;
    width: 90%;
    -webkit-box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.15); 
    box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.15);
    border-radius: 5px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
}

.contact h1{
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 1%;
}

.message{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 8%;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: 15%;
    padding-left: 5px;
}

.contact-link{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.contact-link p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin-left: 10px;
}

.contact-info a{
    color: black;
    text-decoration: none;
}

.icon{
    display: flex;
    width: 10%;
    height: 100%;
}

.sub_space{
    width: 100%;
    height: 5%;
    border: none;
}